---
layout: layout/v1.mjml
image: chicago-job.jpg
---

<mj-section>
  <mj-column>
    <mj-text font-size="24px" color="#333" font-weight="bold">
      Ethan's College Newsletter:<br />2025-2026 School Year
    </mj-text>
    <mj-text>
      <p>
        Hello $name! It's been a while, finally had time to sit down and write! 😅 This one's going to be jam-packed, so buckle in! 💺
      </p>
      <p>
        I was at first dissapointed not to be offered any opportunities on-the-spot, but once I made a
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7452910186945593344/">LinkedIn post about it</a>,
        I got a lot of traction!
        I even got invited to a <a href="https://www.youtube.com/watch?v=bQxfV3Q8UT0">podcast</a> because of it!
        I've kinda become a LinkedIn fiend now (+ thanks to EiR trip), so I've interspersed relevant links in this newsletter.
      </p>
    </mj-text>
  </mj-column>
</mj-section>

<mj-text><hr /></mj-text>

<mj-section>
  <mj-column><mj-image width="150px" height="150px" src="eir-exec.jpg" /></mj-column>
  <mj-column><mj-image width="150px" height="150px" src="eir-bull.jpg" /></mj-column>
  <mj-column><mj-image width="150px" height="150px" src="eir-liberty.jpg" /></mj-column>
</mj-section>
<mj-section>
  <mj-column><mj-text>
    Over <strong>spring break</strong>, I had the joy of going to New York as a part of Purdue's Executive in Residence (EiR) program.
    We saw the city and networked with executives at big companies!
    <a href="https://www.linkedin.com/feed/update/urn:li:activity:7452743076890189824">Read my reflection</a>
    and <a href="https://www.youtube.com/watch?v=BSdAueGcRLc">watch the video!</a>
  </mj-text></mj-column>
</mj-section>

<mj-text><hr /></mj-text>

<mj-section>
  <mj-column><mj-text>
    <p>
      <strong>RHA</strong> got off to a rough start; we lost our president (twice!) and had to fill 2 other director positions.
      Despite that, I think RHA is stronger than ever!
      I'm also excited to be the Vice President next year, looking forward to fining ways to build community and support the directors to reimagine what RHA can be!
    </p>
    Here's what we did this year:
  </mj-text></mj-column>
</mj-section>
<mj-section>
  {% render "component/3-col.liquid" img: "rha-spook.jpg"
  txt: "Halloween event returned! It was quite popular, we actually got a recreational fire approved, and didn't run out of food this time!" %}

  {% render "component/3-col.liquid" img: "rha-blood.jpg"
  txt: "RHA collaborated with University blood initiatives to promote a residence hall blood drive. This was my first time donating blood! 🩸 (it was weird!)" %}

  {% render "component/3-col.liquid" img: "rha-hoco.jpg"
  txt: "Participated in the homecoming parade! (Last year rained out). I threw out too much candy though so we ran out before the end :(" %}
</mj-section>
<mj-section>
  {% render "component/3-col.liquid" img: "rha-mystery.jpg"
  txt: "The Murder Mystery returned! This time, it was hosted on-campus with catered food, making it easier for me. To make up for that, I decided to DIY the actors & script instead of hiring a company, which made me nervous it wouldn't be fun, but everything came through." %}

  {% render "component/3-col.liquid" img: "rha-5k.jpg"
  txt: "The 5K returned! I helped with logistics, so I still have yet to run it. New to this year is DIY stuffed animals (pictured) & donuts (instead of pancakes, too much cleaning)." %}

  {% render "component/3-col.liquid" img: "rha-movie.jpg"
  txt: "Wicked movie & Mario Movie party then watch: these are fun, but they don't get great attendance, and transporting everyone to the theater is a logistical nightmare, would not reccomend." %}
</mj-section>
<mj-section>
  {% render "component/3-col.liquid" img: "rha-tabling.jpg"
  txt: "Did a lot more tabling with the Advocacy director! This definately helped build my confidence pitching stuff, which came useful in Chicago." %}

  {% render "component/3-col.liquid" img: "rha-glacurh.jpg"
  txt: "Went to my first RHA regional conference at IU! Had lots of fun and learned a few things at their sessions. Going to the national one this summer!" %}

  {% render "component/3-col.liquid" img: "rha-red.jpg"
  txt: "My Magnum Opus: Red 40 RHA! Literally just eat red food, before it is banned by the FDA in 2027. Also had trivia and slime-making." %}
</mj-section>

<mj-text><hr /></mj-text>

<mj-section>
  <mj-column><mj-image width="150px" height="150px" src="jap-art.jpg" /></mj-column>
  <mj-column><mj-image width="150px" height="150px" src="jap-deer.jpg" /></mj-column>
  <mj-column><mj-image width="150px" height="150px" src="jap-duck.jpg" /></mj-column>
</mj-section>
<mj-section>
  <mj-column><mj-image width="150px" height="150px" src="jap-meal.jpg" /></mj-column>
  <mj-column><mj-image width="150px" height="150px" src="jap-ramen.jpg" /></mj-column>
  <mj-column><mj-text>
    <strong>Japan winter break trip!</strong>
    My favorite parts were the nature, food (although we ate at 7-11 more than I'd like to admit), and unique sights! 🗼
  </mj-text></mj-column>
</mj-section>

<mj-text><hr /></mj-text>

<mj-section>
  <mj-column><mj-text>
    <p>
      My first year as an appartments <strong>RA</strong> wrapped up smoothly.
      <a href="TODO">Read my reflection and takeaways</a>.
      I'll be returning to the same building next year (although a part of me regrets not transfering to a 1st-year community).
      I'll be staying over the summer at Purdue as a summer RA. Thanksfully, a bunch of people I know are also staying. 🥳
    </p>
    <p>
      During winter training, I'm really proud of being a case competition finalist in the 3rd & West team as well as
      giving a session presentation on "Strategies for Success, Beyond Time Management".
    </p>
    Here's what we did this year:
  </mj-text></mj-column>
</mj-section>
<mj-section>
  {% render "component/3-col.liquid" img: "ra-event.jpg"
  txt: "A goal-setting event where residents throw darts at sticky-note SMART goals they made. Quite proud of this idea." %}

  {% render "component/3-col.liquid" img: "ra-cat.jpg"
  txt: "Shoutout to the cats of 3rd & West! Pet a sphynx hairless cat for the first time (as weird as I thought)." %}

  {% render "component/3-col.liquid" img: "ra-rodeo.jpg"
  txt: "I advise the hall club. This is their Rodeo event: food trucks and a mechanical bull. Someone made the mistake of putting me in charge of the cotton candy, so I ate a lot of the supply. 🤤" %}
</mj-section>

<mj-text><hr /></mj-text>

{% render "component/other-news.liquid" content: "
- [The rest of the photos](https://albums.ethandawes.dev/?t=rFwNC3Nb#9UFc5aBHAXAaMjKKiDeVHQgFM3ffacsoep31mfkrZaKA), as always
" %}
